{%extends 'base.html'%}
{%block content%}

<head>
    <style>
        h1 {
            text-align: center;
        }
        form{
            display:inline-block;
        }
        body{
            text-align:center
        }

    </style>
</head>
<br>
<br>
<br>
<br>
<body>
    <h1>
        Generate a summary from file upload.
    </h1>
    <br>
    <br>
    <br>
    <form method='POST' enctype="multipart/form-data">
        <label for="text">Text to summarize:</label>
        <br>
        <input type="file" name="file">
        <br>
        <br>
        <!-- <input type="submit"> -->
        <button type="submit" class="btn btn-outline-success">Submit text</button>

    </form>
</body>
{%endblock%}